/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 自訂義CSS */
* {
  box-sizing: border-box;
}

body {
  font-family: "Castoro", serif;
  font-size: 24px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.pt-160 {
  padding-top: 160px;
}

.text-xxl {
  font-size: 128px;
  letter-spacing: 0.12em;
}

.text-center {
  text-align: center;
}

.w-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.bg-gray {
  background: #efefef;
}

.text-lg {
  font-size: 32px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-160 {
  padding-bottom: 160px;
}

.mb-40 {
  margin-bottom: 40px;
}

.title {
  color: #AE0000;
  font-size: 40px;
  margin-bottom: 16px;
  border-bottom: 3px solid #AE0000;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.date {
  color: #949494;
  font-size: 20px;
  font-style: italic;
}

.mb-12 {
  margin-bottom: 12px;
}

.footer {
  background: #000;
  padding-top: 64px;
  padding-bottom: 64px;
}

.ml-40 {
  margin-left: 40px;
}

.inline-block {
  display: inline-block;
}
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 自訂義CSS */
*{
  box-sizing: border-box;
}
body {
  font-family: "Castoro", serif;
  font-size: 24px;
  line-height: 1.5;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.selfie {
  padding-top: 160px;
  font-size: 128px;
  letter-spacing: 0.12em;
}

.selfie img {
  margin: 0 auto;
  display: block;
}

.selfie h2{
  width: 50%;
  margin-left: auto;
}

.description {
  background: #efefef;
  font-size: 32px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.description p {
  width: 50%;
  margin-left: auto;
}

.content {
  width: 50%;
  padding-top: 80px;
  padding-bottom: 160px;
}

.content>li {
  margin-bottom: 40px;
}

.content li:last-child {
  margin-bottom: 0;
}

.title {
  color: #AE0000;
  font-size: 40px;
  line-height: 57px;
  border-bottom: 3px solid #AE0000;
  margin-bottom: 16px;
}

.info li {
  margin-bottom: 8px;
}
.info a{
  text-decoration: none;
  color: #000;
}
.info a:hover{
  text-decoration: underline;
}
.date {
  color: #949494;
  font-size: 20px;
  font-style: italic;
  line-height: 30px;
}

.contentList li {
  margin-bottom: 16px;
}

.awards li {
  margin-bottom: 12px;
}

.footer {
  background: #000;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer li {
  margin-left: 40px;
  display: inline-block;
}